{% extends "homeview/homeview.html" %}
{% block content %}
<article style="text-align: center;" class="hidden">
    <h1>T6xyz Development</h1>
    <p style="padding:50px;">Web development with the goal of providing the highest quality product to clients with a passion</p>

</article>
<script>
    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                entry.target.classList.add('show');
            } else {
                entry.target.classList.remove('show');
            }
        });
    });




    const hiddenElements = document.querySelectorAll('.hidden');
    hiddenElements.forEach((el) => observer.observe(el));
</script>
{% endblock content %}